
.card-section{
    margin-top:20px;
    gap:20px;
}
.card-dashboard1,.card-dashboard2,.card-dashboard3{
    padding: 70px 20px;
    border-radius:25px;
}
.card-text{
    background: none;
    border:none;
    font-size: 20px;
    font-weight: 500;
    color:#fff;
    text-align: center;
}
.card-dashboard1{
    background-color: blueviolet;
}

.card-dashboard2{
    background-color: rgb(149, 21, 134);
}

.card-dashboard3{
    background-color: rgb(36, 21, 149);
}